<article class="experiencia">
  <div class="tittle tittle-info">
    <h3>Experiencia</h3>
    <app-bagg-experience></app-bagg-experience>
  </div>
  <ul>
    <li class="flex-container" *ngFor="let experience of experiences">
      <div class="text-content">
        <h5>
          {{ experience.empleo }} || {{ experience.anoInicial }} -
          {{ experience.anoFinal }}
        </h5>
        <p>{{ experience.detalles }}</p>
      </div>
      <div class="botones">
        <app-bedit-experience></app-bedit-experience>
        <button id="delete" (click)="delete(experience)"></button>
      </div>
    </li>
  </ul>
</article>
