<!-- Button trigger modal -->
<button
  id="edit"
  data-bs-toggle="modal"
  data-bs-target="#modalEditEducation"
></button>

<!-- Modal -->
<div
  class="modal fade"
  id="modalEditEducation"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalEditEducation"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalEditEducationLabel">
          Editar Información
        </h1>
        <button
          type="button"
          class="btn-close text-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="row inputEdit">
            <label class="form-label col-sm-3">Institución</label>
            <input type="text" id="institucion" class="btn-input col-sm-6" />
          </div>
          <div class="row inputEdit">
            <label class="form-label col-sm-3">Titulo</label>
            <input type="text" id="titulo" class="btn-input col-sm-6" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Guardar</button>
      </div>
    </div>
  </div>
</div>
