.foto-perfil {
  cursor: pointer;
  width: 180px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.fotoDePerfil {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: all 0.3s;
}
.foto-perfil:hover img {
  transform: scale(1.09);
}

.box-lapiz {
  position: absolute;
  top: 110%;
  left: 13%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 30px;
  opacity: 1;
}

.foto-perfil:hover .box-lapiz {
  top: 0;
}

/* 
.box-lapiz {
  position: absolute;
  top: 110%;
  left: 13%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 30px;
  opacity: 0;
}

.foto-perfil:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.foto-perfil:hover .box-lapiz {
  opacity: 1;
}

.lapiz:hover .box-lapiz {
  opacity: 0.5s;
} */
