<button
  id="edit"
  data-bs-toggle="modal"
  data-bs-target="#modalEditAboutMe"
  (click)="edit(aboutme)"
></button>

<!-- Modal -->
<div
  class="modal fade"
  id="modalEditAboutMe"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalEditAboutMe"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalEditAboutMeLabel">
          Editar Información
        </h1>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <img src="../../../../../assets/Img/close.png" alt="close" />
        </button>
      </div>
      <div class="modal-body">
        <form class="form" [formGroup]="formulario">
          <div class="row inputEdit">
            <label for="contenido" class="form-label col-sm-4"
              >Escribe sobre ti</label
            >
            <input
              type="text"
              id="aboutme"
              class="btn-input col-sm-7"
              name="contenido"
              formControlName="contenido"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-save" data-bs-dismiss="modal">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
