<button
  id="edit"
  data-bs-toggle="modal"
  data-bs-target="#modalEditAboutMe"
></button>

<!-- Modal -->
<div
  class="modal fade"
  id="modalEditAboutMe"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalEditAboutMe"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalEditAboutMeLabel">
          Editar Información
        </h1>
        <button
          type="button"
          class="btn-close text-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="row inputEdit">
            <label class="form-label col-sm-4">Escribe sobre ti</label>
            <input type="text" id="aboutme" class="btn-input col-sm-7" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
