<!-- -------------------------------------------------Banner---------------------------------------------------- -->
<div class="container component-info">
  <div class="banner">
    <img
      src="../assets/Img/Banner.png"
      alt="Banner de portada"
      class="img-fluid"
    />
  </div>

  <!-- -------------------------------------------------Foto de Perfil + datos---------------------------------------------------- -->
  <div class="row">
    <div class="container-fototext col-sm-5">
      <app-foto-perfil></app-foto-perfil>
      <div class="name-tittle">
        <div class="text-perfil" *ngFor="let detail of details">
          <span>{{ detail.apellido }} {{ detail.nombre }}</span>
          <p>{{ detail.titulo }}</p>
        </div>
      </div>
    </div>
    <app-btn-edit class="col-sm-3 edit"></app-btn-edit>
  </div>

  <div class="row">
    <div class="datos col-sm-5" *ngFor="let detail of details">
      <p>
        <b>Fecha de Nacimiento:</b> {{ detail.nacimiento }} <br />
        <b>Ubicación:</b> {{ detail.ubicacion }} <br />
        <b>Dirección:</b>
        {{ detail.direccion }}
        <br />
        <b>Correo:</b> {{ detail.email }} <br />
        <b>N° Celular:</b> detail.celular
      </p>
    </div>
    <!-- -------------------------------------------------Iconos de Lenguajes y frameworks---------------------------------------------------- -->

    <!-- <div class="col-sm">
      <div class="stack-icon">
        <img
          src="https://cdn-icons-gif.flaticon.com/7920/7920939.gif"
          alt="html"
        />
        <img
          src="https://cdn-icons-gif.flaticon.com/7920/7920939.gif"
          alt="css"
        />
        <img
          src="https://cdn-icons-gif.flaticon.com/7920/7920939.gif"
          alt="javascript"
        />
        <img
          src="https://cdn-icons-gif.flaticon.com/7920/7920939.gif"
          alt="angular"
        />
        <img
          src="https://cdn-icons-gif.flaticon.com/7920/7920939.gif"
          alt="bootstrap"
        />
        <img
          src="https://cdn-icons-gif.flaticon.com/7920/7920939.gif"
          alt="typescript"
        />
      </div>
    </div> -->
  </div>
</div>

<div class="division">
  <div class="separacionV">
    <div class="separacionH"></div>
  </div>
</div>
