<!-- -------------------------------------------------Banner---------------------------------------------------- -->
<div class="container-fluid component-info">
  <div class="banner">
    <img
      src="../assets/Img/Banner.png"
      alt="Banner de portada"
      class="img-fluid"
    />
  </div>

  <!-- -------------------------------------------------Foto de Perfil + datos---------------------------------------------------- -->

  <div class="foto-perfil">
    <img src="../assets/Img/Foto de Perfil.png" alt="Foto de perfil" />
    <div class="name-tittle">
      <div class="text-perfil">
        <h5 class="cambio-nombre">Piscitello Luciano Nicolás</h5>
        <p>Programador Web Full Stack</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="datos col-sm-5">
      <p>
        <b>Fecha de Nacimiento:</b> 21/09/2003 <br />
        <b>Ubicación:</b> Colonia Caroya, Cordoba, Argentina <br />
        <b>Dirección:</b>
        10 de Julio Sur N°120
        <br />
        <b>Correo:</b> Lucianopiscitello8@gmail.com <br />
        <b>N° Celular:</b> 3525627698
      </p>
    </div>
    <app-btn-edit class="col-sm-7"></app-btn-edit>

    <!-- -------------------------------------------------Iconos de Lenguajes y frameworks---------------------------------------------------- -->

    <!-- <div class="col-sm">
      <div class="stack-icon">
        <img
          src="https://cdn-icons-gif.flaticon.com/7920/7920939.gif"
          alt="html"
        />
        <img
          src="https://cdn-icons-gif.flaticon.com/7920/7920939.gif"
          alt="css"
        />
        <img
          src="https://cdn-icons-gif.flaticon.com/7920/7920939.gif"
          alt="javascript"
        />
        <img
          src="https://cdn-icons-gif.flaticon.com/7920/7920939.gif"
          alt="angular"
        />
        <img
          src="https://cdn-icons-gif.flaticon.com/7920/7920939.gif"
          alt="bootstrap"
        />
        <img
          src="https://cdn-icons-gif.flaticon.com/7920/7920939.gif"
          alt="typescript"
        />
      </div>
    </div> -->
  </div>
</div>

<div class="division">
  <div class="separacionV">
    <div class="separacionH"></div>
  </div>
</div>
