.stack-icon {
  width: 100px;
}

.edit {
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.text-perfil span {
  font-size: 26px;
  color: #d6c3c9;
  font-weight: bold;
}

.text-perfil p {
  color: #d6c3c9;
}
