<section class="container component-projects">
  <div class="tittle-project tittle">
    <h2>Proyectos</h2>
    <app-bagg-projects></app-bagg-projects>
  </div>

  <div class="projects">
    <article class="project">
      <img
        src="../../../../assets/Img/Proyecto WaraWara.png"
        alt="Imagen del proyecto"
      />
      <div class="alinearVertical">
        <p class="name-pag">
          <b> Nombre: </b>
          <span class="disminuirTamaño"> WaraWara </span>
        </p>
        <p>
          <b> Descripción: </b>
          <span class="disminuirTamaño"> E-Commerce </span>
        </p>
      </div>
      <button id="delete"></button>
    </article>
  </div>
</section>
