<section class="container component-projects">
  <div class="tittle-project tittle">
    <h2>Proyectos</h2>
    <app-bagg-projects></app-bagg-projects>
  </div>

  <div class="projects">
    <article class="project" *ngFor="let project of projects">
      <a [href]="project.link"
        ><img [src]="project.imagen" alt="Imagen del proyecto"
      /></a>
      <div class="alinearVertical">
        <p class="name-pag">
          <b> Nombre: </b>
          <span class="disminuirTamaño"> {{ project.nombre }} </span>
        </p>
        <p>
          <b> Descripción: </b>
          <span class="disminuirTamaño"> {{ project.detalles }} </span>
        </p>
        <p>
          <b> Link: </b>
          <a class="disminuirTamaño"> {{ project.link }} </a>
        </p>
      </div>
      <button id="delete"></button>
    </article>
  </div>
</section>
