.projects {
  margin-top: 60px;
  margin-left: 60px;
}

.tittle-project {
  justify-content: center;
}

.project img {
  width: 256px;
  margin-right: 20px;
}

.project {
  display: flex;
  margin-bottom: 60px;
  background: rgba(63, 63, 63, 0.2);
  padding: 15px;
  border-radius: 5px;
}

.project p {
  font-size: 24px;
}

.project a {
  cursor: pointer;
}

.disminuirTamaño {
  font-size: 18px;
}
