.sup div {
  display: flex;
  align-items: center;
}

.logo-ap {
  justify-content: center;
}

.redes a {
  margin-left: 10px;
}

.log-out {
  justify-content: flex-end;
  margin-right: 20px;
}

.icon-log-out {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
