<header class="container component-header">
  <div class="sup row">
    <div class="col-sm log-reg">
      <button class="log-in btn btn-secondary">Iniciar Sesión</button>
      <button class="register btn btn-secondary">Registrarse</button>
    </div>
    <div class="col-sm logo-ap">
      <img src="../assets/Img/Web Programming_Line 1.png" alt="logo-ap" />
      <h6>Argentina Programa</h6>
    </div>
    <div class="col-sm">
      <div class="redes">
        <a href="https://www.linkedin.com/in/luciano-piscitello-68b016239/"
          ><img src="../assets/Img/linkedin.png" alt="linkedin-png"
        /></a>
        <a href="https://vsco.co/luchipiscitello/gallery"
          ><img src="../assets/Img/vsco.png" alt="vsco-png"
        /></a>
        <a href="https://github.com/PiscitelloLuciano"
          ><img src="../assets/Img/github.png" alt="github-png"
        /></a>
        <a href="https://www.instagram.com/luchi.piscitello/"
          ><img src="../assets/Img/instagram.png" alt="instagram-png"
        /></a>
        <a href="https://twitter.com/LuchiPiscitell0"
          ><img src="../assets/Img/twitter.png" alt="twitter-png"
        /></a>
      </div>
    </div>
  </div>
</header>
