<!-- Button trigger modal -->
<button
  id="aggInfo"
  data-bs-toggle="modal"
  data-bs-target="#modalAggKnowledge"
></button>

<!-- Modal -->
<div
  class="modal fade"
  id="modalAggKnowledge"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalAggKnowledge"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalAggKnowledgeLabel">
          Agregar Conocimiento
        </h1>
        <button
          type="button"
          class="btn-close text-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="row inputEdit">
            <label class="form-label col-sm-3">Conocimiento</label>
            <input
              type="text"
              id="newConocimiento"
              class="btn-input col-sm-6"
            />
          </div>
          <div class="row inputEdit">
            <label class="form-label col-sm-3">Rango de habilidad</label>
            <input
              type="range"
              id="newRangoConocimiento"
              class="btn-input input-range2 col-sm-6"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>
