<section class="container-fluid component-details">
  <article id="acerca-de-mi">
    <div class="tittle tittle-info">
      <h3>Acerca de Mi</h3>
      <button id="edit"></button>
      <button id="delete"></button>
    </div>
    <p class="sep60">
      "La practica deportiva en la que me desempeño hace más de 8 años me ha
      llevado a ser una persona constante, disciplinada y capaz de adaptarme
      rapidamente a grupos de trabajo. Compartiendo gustos desde pequeño entre
      el deporte y la tecnología es como hoy disfruto y amo lo que hago. Mi
      personalidad curiosa, fue lo que me impulsó a capacitarme y aprender desde
      2019 sobre el mundo técnico, logrando conocimientos en hardware de
      sistemas informáticos y software. La programación es tan amplia que me
      permite indagar en ella sumando conocimientos y potenciando mi
      proactividad, esto es uno de los aceleradores que conducen mi entusiasmo a
      seguir aprendiendo."
    </p>
  </article>

  <article id="conocimientos-adicionales">
    <div class="tittle tittle-info">
      <h3>Conocimientos Adicionales</h3>
      <button id="edit"></button>
      <button id="delete"></button>
    </div>
    <ul>
      <li class="lista-sin-estilo sep15">
        <p class="sep10">Ingles</p>
      </li>
    </ul>
  </article>

  <article class="educacion">
    <div class="tittle tittle-info">
      <h3>Educación</h3>
      <button id="edit"></button>
      <button id="delete"></button>
    </div>
    <ul>
      <li class="lista-sin-estilo sep15">
        <div class="educacion-container">
          <div class="list-info">
            <p>Bonoris</p>
            <p>Economia || 2016 a 2021</p>
          </div>
        </div>
      </li>
    </ul>
  </article>

  <article class="experiencia">
    <div class="tittle tittle-info">
      <h3>Experiencia</h3>
      <button id="edit"></button>
      <button id="delete"></button>
    </div>
    <div class="experiencia-container">
      <p class="sep60">Atencion al publico || 2022</p>
      <br />
    </div>
  </article>
</section>

<div class="division">
  <div class="separacionV">
    <div class="separacionH"></div>
  </div>
</div>
