<!-- Button trigger modal -->
<button
  id="edit"
  data-bs-toggle="modal"
  data-bs-target="#modalEditExperience"
></button>

<!-- Modal -->
<div
  class="modal fade"
  id="modalEditExperience"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalEditExperience"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalEditExperienceLabel">
          Editar Información
        </h1>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <img src="../../../../../assets/Img/close.png" alt="close" />
        </button>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="row inputEdit">
            <label class="form-label col-sm-5">Trabajo</label>
            <input type="text" id="trabajo" class="btn-input col-sm-6" />
          </div>
          <div class="row inputEdit">
            <label class="form-label col-sm-5">Año de comienzo</label>
            <input type="number" id="añoComienzo" class="btn-input col-sm-6" />
          </div>
          <div class="row inputEdit">
            <label class="form-label col-sm-5">Año de finalización</label>
            <input type="number" id="añoFin" class="btn-input col-sm-6" />
          </div>
          <div class="row inputEdit">
            <label class="form-label col-sm-5">Detalles</label>
            <input
              type="text"
              id="detallesTrabajo"
              class="btn-input col-sm-6"
              placeholder="Detalle su trabajo..."
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-save" data-bs-dismiss="modal">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
