<article id="acerca-de-mi">
  <div class="tittle tittle-info">
    <h3>Acerca de Mi</h3>
    <app-bedit-aboutme></app-bedit-aboutme>
    <button id="delete"></button>
  </div>
  <p>
    "La practica deportiva en la que me desempeño hace más de 8 años me ha
    llevado a ser una persona constante, disciplinada y capaz de adaptarme
    rapidamente a grupos de trabajo. Compartiendo gustos desde pequeño entre el
    deporte y la tecnología es como hoy disfruto y amo lo que hago. Mi
    personalidad curiosa, fue lo que me impulsó a capacitarme y aprender desde
    2019 sobre el mundo técnico, logrando conocimientos en hardware de sistemas
    informáticos y software. La programación es tan amplia que me permite
    indagar en ella sumando conocimientos y potenciando mi proactividad, esto es
    uno de los aceleradores que conducen mi entusiasmo a seguir aprendiendo."
  </p>
</article>
