<!-- Button trigger modal -->
<button
  id="agg"
  data-bs-toggle="modal"
  data-bs-target="#modalAggSkills"
></button>

<!-- Modal -->
<div
  class="modal fade"
  id="modalAggSkills"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalAggSkills"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalAggSkillsLabel">
          Agregar Habilidad
        </h1>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <img src="../../../../../assets/Img/close.png" alt="close" />
        </button>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="row inputEdit">
            <label for="newHabilidad" class="form-label col-sm-5"
              >Habilidad</label
            >
            <input
              type="text"
              id="newHabilidad"
              class="btn-input col-sm-6"
              name="newHabilidad"
              [(ngModel)]="skill.habilidad"
            />
          </div>
          <div class="row inputEdit" id="range-container-tittle">
            <label for="newRangoHabilidad" class="form-label col-sm-5"
              >Rango de habilidad</label
            >
            <div class="range-container col-sm-6">
              <span id="rangeValue">0</span>
              <Input
                class="btn-input input-range2"
                type="range"
                value="0"
                min="0"
                max="100"
                id="newRangoHabilidad"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn-save"
          data-bs-dismiss="modal"
          (click)="create()"
        >
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>
