<!-- Button trigger modal -->
<button
  id="edit"
  data-bs-toggle="modal"
  data-bs-target="#modalEditAddKnowledge"
></button>

<!-- Modal -->
<div
  class="modal fade"
  id="modalEditAddKnowledge"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalEditAddKnowledge"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalEditAddKnowledgeLabel">
          Editar Información
        </h1>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <img src="../../../../../assets/Img/close.png" alt="close" />
        </button>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="row inputEdit">
            <label class="form-label col-sm-5">Conocimiento</label>
            <input type="text" id="conocimiento" class="btn-input col-sm-6" />
          </div>
          <div class="row inputEdit" id="range-container-tittle">
            <label class="form-label col-sm-5">Rango de Conocimiento</label>
            <div class="range-container col-sm-6">
              <span id="rangeValue">0</span>
              <Input
                class="btn-input input-range2"
                id="rangoConocimiento"
                type="range"
                value="0"
                min="0"
                max="100"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-save" data-bs-dismiss="modal">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
