<!-- Button trigger modal -->
<button
  id="agg"
  data-bs-toggle="modal"
  data-bs-target="#modalAggProject"
></button>

<!-- Modal -->
<div
  class="modal fade"
  id="modalAggProject"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalAggProject"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalAggProjectLabel">
          Agregar Proyecto
        </h1>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <img src="../../../../../assets/Img/close.png" alt="close" />
        </button>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="row inputEdit">
            <label class="form-label col-sm-3">Nombre</label>
            <input
              type="text"
              id="newNombreProyecto"
              class="btn-input col-sm-6"
            />
          </div>
          <div class="row inputEdit">
            <label class="form-label col-sm-3">Descripcion</label>
            <input
              type="text"
              id="newDescripcionProyecto"
              class="btn-input col-sm-6"
            />
          </div>
          <div class="row inputEdit">
            <label class="form-label col-sm-5">Imagen de Portada</label>
            <div class="inputFile-container col-sm-6">
              <p>Seleccionar Archivo</p>
              <input type="file" id="newImgProyecto" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-save" data-bs-dismiss="modal">
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>
