<!-- Button trigger modal -->
<button
  id="aggInfo"
  data-bs-toggle="modal"
  data-bs-target="#modalAggExperience"
></button>

<!-- Modal -->
<div
  class="modal fade"
  id="modalAggExperience"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalAggExperience"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalAggExperienceLabel">
          Agregar Empleo
        </h1>
        <button
          type="button"
          class="btn-close text-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="row inputEdit">
            <label class="form-label col-sm-5">Trabajo</label>
            <input type="text" id="newTrabajo" class="btn-input col-sm-6" />
          </div>
          <div class="row inputEdit">
            <label class="form-label col-sm-5">Año de comienzo</label>
            <input
              type="number"
              id="newAñoComienzo"
              class="btn-input col-sm-6"
            />
          </div>
          <div class="row inputEdit">
            <label class="form-label col-sm-5">Año de finalización</label>
            <input type="number" id="newAñoFin" class="btn-input col-sm-6" />
          </div>
          <div class="row inputEdit">
            <label class="form-label col-sm-5">Detalles</label>
            <input
              type="text"
              id="newDetallesTrabajo"
              class="btn-input col-sm-6"
              placeholder="Detalle su trabajo..."
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>
