<!-- Button trigger modal -->
<button
  id="aggInfo"
  data-bs-toggle="modal"
  data-bs-target="#modalAggExperience"
></button>

<!-- Modal -->
<div
  class="modal fade"
  id="modalAggExperience"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="modalAggExperience"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalAggExperienceLabel">
          Agregar Empleo
        </h1>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <img src="../../../../../assets/Img/close.png" alt="close" />
        </button>
      </div>
      <div class="modal-body">
        <form class="form">
          <div class="row inputEdit">
            <label for="newEmpleo" class="form-label col-sm-5">Empleo</label>
            <input
              type="text"
              id="newEmpleo"
              class="btn-input col-sm-6"
              name="newEmpleo"
              [(ngModel)]="experience.empleo"
            />
          </div>
          <div class="row inputEdit">
            <label for="newAnoFinal" class="form-label col-sm-5"
              >Año de comienzo</label
            >
            <input
              type="number"
              id="newAnoInicial"
              class="btn-input col-sm-6"
              name="newAnoInicial"
              [(ngModel)]="experience.anoInicial"
            />
          </div>
          <div class="row inputEdit">
            <label for="newAnoFinal" class="form-label col-sm-5"
              >Año de finalización</label
            >
            <input
              type="number"
              id="newAnoFinal"
              class="btn-input col-sm-6"
              name="newAnoFinal"
              [(ngModel)]="experience.anoFinal"
            />
          </div>
          <div class="row inputEdit">
            <label for="newDetalles" class="form-label col-sm-5"
              >Detalles</label
            >
            <input
              type="text"
              id="newDetalles"
              class="btn-input col-sm-6"
              placeholder="Detalle su trabajo..."
              name="newDetalles"
              [(ngModel)]="experience.detalles"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn-save"
          data-bs-dismiss="modal"
          (click)="create()"
        >
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>
