<article class="educacion">
  <div class="tittle tittle-info">
    <h3>Educación</h3>
    <app-bagg-education></app-bagg-education>
  </div>
  <ul>
    <li class="flex-container" *ngFor="let education of educations">
      <div class="datosEducacion">
        <h5>{{ education.institucion }}</h5>
        <p>{{ education.titulo }} || {{ education.anoFin }}</p>
      </div>
      <div class="botones">
        <app-bedit-education></app-bedit-education>
        <button id="delete" (click)="delete(education)"></button>
      </div>
    </li>
  </ul>
</article>
