<section class="component-skills container">
  <div class="tittle-skills tittle">
    <h2>Habilidades duras y blandas</h2>
    <app-bagg-skills></app-bagg-skills>
  </div>

  <div class="row">
    <article class="skill">
      <img src="../../../assets/Img/radial-porcentaje.png" alt="porcentaje" />
      <app-bedit-skills></app-bedit-skills>
      <button id="delete"></button>
      <h5>Trabajo en Equipo</h5>
    </article>
  </div>
</section>

<div class="division">
  <div class="separacionV">
    <div class="separacionH"></div>
  </div>
</div>
