<section class="component-skills container">
  <div class="tittle-skills tittle">
    <h2>Habilidades duras y blandas</h2>
    <app-bagg-skills></app-bagg-skills>
  </div>

  <article class="skill" *ngFor="let skill of skills">
    <h4>{{ skill.habilidad }}</h4>
    <div class="porcentaje-radial"></div>
    <app-bedit-skills></app-bedit-skills>
    <button id="delete" (click)="delete(skill)"></button>
  </article>

  <div class="progress-bar">
    <div class="progress-bar-fill" [style.width.%]="progress"></div>
  </div>

  <div class="division">
    <div class="separacionV">
      <div class="separacionH"></div>
    </div>
  </div>
</section>
