body {
  background-image: url(assets/Img/fondo.jpg);
  background-repeat: repeat;
}

* {
  font-size: 20px;
  color: #ffffff;
  font-family: "Judson", serif;
}

h2 {
  font-weight: bold;
  font-size: 42px;
  color: #918ef4;
}

h3 {
  font-weight: bold;
  font-size: 37px;
  color: #918ef4;
}

h4 {
  font-size: 33px;
  font-weight: bold;
}

h5 {
  font-size: 29px;
  font-weight: bold;
}

h6 {
  font-size: 24px;
}

.separacionV {
  height: 100%;
  width: 2px;
  background-color: #ffffff;
}

.separacionH {
  width: 100vh;
  height: 2px;
  border: 1px dashed #ffffff;
  margin: 47px 0px;
  float: right;
}

.division {
  height: 94px;
  width: 100%;
  display: grid;
  place-items: center;
  margin: 90px 0px;
}

#agg {
  background-image: url(assets/Img/agg.png);
  background-color: rgba(0, 0, 0, 0);
  background-size: 100% 100%;
  border: none;
  width: 42px;
  height: 42px;
  margin-left: 10px;
}

#edit {
  background-image: url(assets/Img/edit.png);
  background-color: rgba(0, 0, 0, 0);
  background-size: 100% 100%;
  border: none;
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

#delete {
  background-image: url(assets/Img/delete.png);
  background-color: rgba(0, 0, 0, 0);
  background-size: 100% 100%;
  border: none;
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

#cambiarT {
  display: none;
  color: black;
}

.tittle {
  display: flex;
}

.flex-container {
  display: flex;
}

.botones {
  margin-left: 30px;
}
